.tools_comp {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 60px;
  color: #d3d3d3;
  cursor: pointer;
}
.tools_comp_img > img {
  height: 120px;
}
.tools_comp_img > img:hover {
  transform: translateY(-10px);
}
.tools_comp_name {
  margin-top: 10px;
  text-transform: capitalize;
}

@media only screen and (max-width: 700px) {
  .tools_comp {
    margin: 20px 40px;
  }
  .tools_comp_img > img {
    height: 80px;
  }
}

@media only screen and (max-width: 650px) {
  .tools_comp {
    margin: 40px 20px;
  }
  .tools_comp_img > img {
    height: 60px;
  }
}

@media only screen and (max-width: 400px) {
  .tools_comp {
    /* width: 100%; */
    margin: 40px 12px;
  }
  .tools_comp_img > img {
    height: 65px;
  }
}
