.experience {
  padding: 20px 0;
}
.ex_card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 60px 0;
}

@media only screen and (max-width: 400px) {
  .ex_card {
    padding: 30px 0;
  }
}

.experience_heading > p {
  font-size: 40px;
  text-align: center;
  padding: 20px 0;
}
.experience_show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}
.exp_desc {
  background-color: lightblue;
  height: 420px;
}
.experience1 {
  flex: 0.4;
  /* width: 510px; */
  background-color: #181818;
  margin: 20px 80px;
  padding: 10px 20px;
  border: 1px solid;
  box-shadow: -8px 8px 8px 0px red;
  padding-bottom: 20px;
  height: 550px;
  margin-top: 30px;
}
.experience1_heading {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.experience1_des {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 15px 0;
  line-height: 28px;
}
.tech_used > p {
  text-align: center;
  font-size: 22px;
}
.tech_used_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech_used_img > img {
  display: flex;
  height: 50px;
  margin: 10px 7px;
}
.tech_used_img > img:hover {
  transform: translateY(-3px);
  cursor: pointer;
}
.experience2 {
  flex: 0.4;
  /* width: 510px; */
  background-color: #181818;
  margin: 20px 80px;
  padding: 10px 20px;
  height: 550px;
  border: 1px solid;
  box-shadow: 8px -8px 8px 0 red;
  padding-bottom: 20px;
  margin-top: 30px;
  background-color: red;
}
.tech_used2 {
  margin-top: 0px;
}
.tech_used2 > p {
  text-align: center;
  font-size: 22px;
}
.tech_used_img2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech_used_img2 > img {
  display: flex;
  height: 50px;
  margin: 10px 7px;
}
.tech_used_img2 > img:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.experience3 {
  flex: 0.4;
  /* width: 510px; */
  background-color: #181818;
  margin: 20px 80px;
  padding: 10px 20px;
  height: 550px;
  border: 1px solid;
  box-shadow: 8px 8px 8px 0 red;
  padding-bottom: 20px;
  margin-top: 30px;
}
.tech_used3 {
  margin: 0px;
  padding: 0;
  background-color: lightcoral;
}
.tech_used3 > p {
  text-align: center;
  font-size: 22px;
}
.tech_used_img3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech_used_img3 > img {
  display: flex;
  height: 50px;
  margin: 10px 7px;
}
.tech_used_img3 > img:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.experience_show1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.tech_used3 {
  display: flex;
  flex-direction: column;
  margin-top: 195px;
}
.tech_used3 > p {
  text-align: center;
  font-size: 22px;
}

@media only screen and (max-width: 650px) {
  .experience_show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
  }
  .exp_desc {
    background-color: lightblue;
    height: 420px;
  }
  .experience1 {
    flex: 1;
    width: 500px;
    /* width: 510px; */
    background-color: #181818;
    background-color: lightcoral;
    margin: 20px 10px;
    padding: 10px;
    border: 1px solid;
    box-shadow: -8px 8px 8px 0px red;
    padding-bottom: 20px;
    height: 400px;
    margin-top: 30px;
  }
  .experience1_heading {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
  .experience1_des {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 15px 0;
    line-height: 28px;
  }
  .tech_used > p {
    text-align: center;
    font-size: 22px;
  }
  .tech_used_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tech_used_img > img {
    display: flex;
    height: 50px;
    margin: 10px 7px;
  }
  .tech_used_img > img:hover {
    transform: translateY(-3px);
    cursor: pointer;
  }
  .experience2 {
    flex: 0.4;
    /* width: 510px; */
    background-color: #181818;
    margin: 20px 80px;
    padding: 10px 20px;
    height: 550px;
    border: 1px solid;
    box-shadow: 8px -8px 8px 0 red;
    padding-bottom: 20px;
    margin-top: 30px;
    background-color: red;
  }
  .tech_used2 {
    margin-top: 0px;
  }
  .tech_used2 > p {
    text-align: center;
    font-size: 22px;
  }
  .tech_used_img2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tech_used_img2 > img {
    display: flex;
    height: 50px;
    margin: 10px 7px;
  }
  .tech_used_img2 > img:hover {
    transform: translateY(-3px);
    cursor: pointer;
  }

  .experience3 {
    flex: 0.4;
    /* width: 510px; */
    background-color: #181818;
    margin: 20px 80px;
    padding: 10px 20px;
    height: 550px;
    border: 1px solid;
    box-shadow: 8px 8px 8px 0 red;
    padding-bottom: 20px;
    margin-top: 30px;
  }
  .tech_used3 {
    margin: 0px;
    padding: 0;
    background-color: lightcoral;
  }
  .tech_used3 > p {
    text-align: center;
    font-size: 22px;
  }
  .tech_used_img3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tech_used_img3 > img {
    display: flex;
    height: 50px;
    margin: 10px 7px;
  }
  .tech_used_img3 > img:hover {
    transform: translateY(-3px);
    cursor: pointer;
  }

  .experience_show1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }
  .tech_used3 {
    display: flex;
    flex-direction: column;
    margin-top: 195px;
  }
  .tech_used3 > p {
    text-align: center;
    font-size: 22px;
  }
}
